video {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  filter:opacity(95%);
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
  background-repeat: initial;
  
}

.background {
  background-repeat: repeat;
  background-attachment: scroll;
}
