* {
    box-sizing: border-box;
}

.tatalacopii{
    padding: 50px;
}
.mainContainerParent{
    padding-left: 5rem;
    background-color: rgba(255,255,255, 0.6);
    overflow-y: scroll;
    overflow-x: hidden;

}
.mainContainer{
    font-family: arial;
    width: 30%;
    height: 40em;
    position: static;
    margin: auto;
    width: 100%;
}

.lista{
    display: flex;
    flex-direction: column;
    align-items: left;
}

