* {
    box-sizing: border-box;
}

.buniculutata{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tatalacopii{
    width: 1000px;
    padding: 50px;
}

.mainContainerParent{
    display: flex;
    background-color: rgba(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    scrollbar-width: none;
    box-shadow: 10px 10px 10px 10px rgba(36, 64, 75, 0.1);
}


.mainFeedContainer{
    font-family: arial;
    height: 60em;
    position: static;
    margin: auto;
    width: 70%;
}

.mainFilterContainer{
    margin-top: 2%;
    margin-left: 10%;
    width: 25%;
}

label{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    margin-top: 15px;
}

#checkboxID{
    margin-top: 0;
    margin-right: 10px;
}

.searchBar{
    margin-top: 20%;
}

@media only screen and ( max-height: 1080px ) {
    .mainFeedContainer{
        font-family: arial;
        width: 30%;
        max-height: 40em;
        position: static;
        margin: auto;
        width: 70%;
        transform: rotate(360deg);
        transition-duration: 2s;
    }
}
