* {
    box-sizing: border-box;
}

.buniculutata{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tatalacopii{
    width: 900px;
    padding: 50px;
}

.mainContainerParent{
    background-color: rgba(255, 255, 255);
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;
    scrollbar-width: none;
    box-shadow: 10px 10px 10px 10px rgba(36, 64, 75, 0.1);
}
.mainContainer{
    font-family: arial;
    height: 60em;
    position: static;
    margin: auto;
    width: 70%;
}

/* .lista{
    display: flex;
    flex-direction: column;
    align-items: left;
} */

.searchBar{
    margin-top: 5%;
}

@media only screen and ( max-height: 1080px ) {
    .mainContainer{
        font-family: arial;
        width: 30%;
        max-height: 40em;
        position: static;
        margin: auto;
        width: 70%;
        transform: rotate(360deg);
        transition-duration: 2s;
    }
}
