.postData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 18%;
    margin-left: 45%;
    background-color: rgb(220, 220, 220);
    border: 2px solid black;
    border-radius: 10px;
}

