.postName{
    margin-top: 0;
    font-size: 30px;
    position: relative;
}

.postUser{
    font-size: 20px;
    position: relative;
}

.postData{
    font-size: 15px;
    position: absolute;

}

