.postData{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 1920px;
    height: 1080px;
    border-radius: 10px;
    margin-left: 13%;
    margin-top: 3%;
}

.text {
    background-color: rgb(255, 255, 255);
}
