*{
  text-decoration: none;
}

.NavbarItems {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255,255,255, 0.4));
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-family: 'Barlow', sans-serif;
}

.navbar-logo {
  font-family: 'Barlow', sans-serif;
  color: rgb(0, 0, 0);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 15px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 3rem;
  
}

.nav-links {
  font-family: 'Barlow', sans-serif;
  display: flex;
  color: black;
  margin: 3em;
  text-decoration: none;
  padding: 0.3em 1.2em;
  
}

.nav-links:hover {
  background-color: rgba(3, 213, 255, 0.746);
  border-radius: 10px;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
